<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Jobs</title>
    </h:head>
    <h:body>
        <h:form>
            <p:outputLabel id="estatus" value="${job.status}"/><br/>
            <p:outputLabel id="progreso" value="${job.timeToNext}" /><br/>
            <p:poll interval="1" listener="${job.checaTiempo}" update="progreso estatus"/>
        </h:form>
    </h:body>
</html>

